video, .bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:-10;
  object-fit: fill;
}

h1{
  font-size: 28px;
  line-height: 30px;
  @media(min-width:768px){
    font-size: 30px;
    line-height: 32px;
  }
  @media(min-width: 1224px){
    font-size: 36px;
    line-height: 38px;
  }
}
h2{
  font-size: 24px;
  line-height: 26px;
  @media(min-width:768px){
    font-size: 28px;
    line-height: 30px;
  }
  @media(min-width: 1224px){
    font-size: 32px;
    line-height: 34px;
  }
}
h3{
  font-size: 20px;
  line-height: 22px;
  @media(min-width:768px){
    font-size: 24px;
    line-height: 26px;
  }
  @media(min-width: 1224px){
    font-size: 28px;
    line-height: 30px;
  }
}
h4{
  font-size: 18px;
  line-height: 20px;
  @media(min-width:768px){
    font-size: 20px;
    line-height: 22px;
  }
  @media(min-width: 1224px){
    font-size: 24px;
    line-height: 26px; 
  }
}
p{
  font-size: 16px;
  line-height: 18px;
  @media(min-width:1441px){
    font-size: 20px;
    line-height: 22px;
  }
}
.active{
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s linear;
  display: flex;
  justify-content:stretch;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  /* padding: 0 7%; */
}
.hidden{
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  top: -80px;
  transition: 0.3s linear;
}
