.bg-new{
  background: #DA99FF; 
  background-image: radial-gradient(at 85.1% 88.1%, hsl(144, 100%, 80%) 0px, transparent 50%),radial-gradient(at 11.5% 25.8%, hsl(356, 100%, 80%) 0px, transparent 50%)
}

.bloby{
  animation: bloby 10s infinite 0s ease-in-out forwards;
}

@keyframes bloby {  
  0% {border-radius: 50% 95% 50% 80% / 50% 90% 50% 90%;}
  20% {border-radius: 50% 100% 50% 50% / 100% 100% 50% 50%;}
  40% {border-radius: 50% 100% 50% 50% / 50% 50% 100% 100%;}
  60% {border-radius: 90% 60% 80% 50% / 40% 90% 50% 90%;}
  80% {border-radius: 50% 50% 100% 50% / 50% 50% 100% 100%;}
  100% {border-radius: 50% 95% 50% 80% / 50% 90% 40% 90%;}
}