.bg-new{
  background: #EED7FB; background-image: radial-gradient(at 7.2% 19.8%, hsl(356, 100%, 80%) 0px, transparent 50%),radial-gradient(at 46.9% 53.1%, hsl(278, 100%, 80%) 0px, transparent 50%),radial-gradient(at 69.1% 27.5%, hsl(144, 100%, 80%) 0px, transparent 50%),radial-gradient(at 19.0% 80.3%, hsl(200, 100%, 80%) 0px, transparent 50%),radial-gradient(at 78.8% 79.0%, hsl(54, 100%, 80%) 0px, transparent 50%)
}

.bloby{
  animation: bloby 10s infinite 0s ease-in-out forwards;
}

@keyframes bloby {  
  0% {border-radius: 50% 95% 50% 80% / 50% 90% 50% 90%;}
  20% {border-radius: 50% 100% 50% 50% / 100% 100% 50% 50%;}
  40% {border-radius: 50% 100% 50% 50% / 50% 50% 100% 100%;}
  60% {border-radius: 90% 60% 80% 50% / 40% 90% 50% 90%;}
  80% {border-radius: 50% 50% 100% 50% / 50% 50% 100% 100%;}
  100% {border-radius: 50% 95% 50% 80% / 50% 90% 40% 90%;}
}