
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Cherry+Swash:wght@400;700&family=Laila:wght@300;400;500;600;700&family=Lemon&family=Lumanosimo&family=Metamorphous&family=Spicy+Rice&family=Monofett&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base{
  :root{
    --main-gradient: linear-gradient(90deg, rgba(153, 255, 193, 0.7) 0%, rgba(255, 245, 153, 0.7) 50%, rgba(255, 153, 160, 0.7) 100%)
  }
}
